# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Moonlighter.iml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
