<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">    

  <ItemGroup>
    <PackageReference Include="MSBuildTasks" Version="1.5.0.235">
      <PrivateAssets>all</PrivateAssets>
      <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
    </PackageReference>
  </ItemGroup>
  
<PropertyGroup>
  <!-- Default to project-local releases folder. Override only when SolutionDir is set and not the MSBuild placeholder '*Undefined*'. -->
  <ReleasesDir>$(MSBuildProjectDirectory)\AAA_Releases</ReleasesDir>
  <ReleasesDir Condition=" '$(SolutionDir)' != '' and '$(SolutionDir)' != '*Undefined*'">$(SolutionDir)AAA_Releases</ReleasesDir>
</PropertyGroup>

<Target Name="ZipOutputPath" AfterTargets="Build">
        <PropertyGroup>
            <TempDir>$(MSBuildProjectDirectory)\temp</TempDir>
              <PluginDir>$(MSBuildProjectDirectory)\temp</PluginDir>
        </PropertyGroup>
        <MakeDir Directories="$(TempDir)" />
        <MakeDir Directories="$(ReleasesDir)" />
        <Exec Command="xcopy /V &quot;$(OutputPath)&quot; &quot;$(TempDir)&quot; /E /I /Y" />
        <Exec Command="del &quot;$(TempDir)\*.zip&quot; &quot;$(TempDir)\*.json&quot; &quot;$(TempDir)\*.pdb&quot;" />
        <ZipDirectory Condition="'$(Configuration)'=='Release'" Overwrite="true"
                SourceDirectory="$(TempDir)"
                DestinationFile="$(ReleasesDir)\$(MSBuildProjectName)_v$(Version)_BepInEx.zip" />
        <RemoveDir Directories="$(MSBuildProjectDirectory)\temp" />
    </Target>
</Project>