<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <ItemGroup>
    <PackageReference Include="MSBuildTasks" Version="1.5.0.235">
      <PrivateAssets>all</PrivateAssets>
      <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
    </PackageReference>
  </ItemGroup>

  <PropertyGroup>
    <!-- Fallback SolutionDir if not defined (when building project directly) -->
    <SolutionDir Condition="'$(SolutionDir)' == '' Or '$(SolutionDir)' == '*Undefined*'">$(MSBuildProjectDirectory)\..\</SolutionDir>
  </PropertyGroup>

<Target Name="CleanPublicizerDlls" AfterTargets="Build">
        <Delete Files="$(OutputPath)\AsmResolver.dll" ContinueOnError="true" />
        <Delete Files="$(OutputPath)\AsmResolver.DotNet.dll" ContinueOnError="true" />
        <Delete Files="$(OutputPath)\AsmResolver.PE.dll" ContinueOnError="true" />
        <Delete Files="$(OutputPath)\AsmResolver.PE.File.dll" ContinueOnError="true" />
        <Delete Files="$(OutputPath)\BepInEx.AssemblyPublicizer.dll" ContinueOnError="true" />
        <Delete Files="$(OutputPath)\BepInEx.AssemblyPublicizer.MSBuild.dll" ContinueOnError="true" />
    </Target>

<Target Name="ZipOutputPath" AfterTargets="CleanPublicizerDlls">
        <PropertyGroup>
            <TempDir>$(MSBuildProjectDirectory)\temp</TempDir>
              <PluginDir>$(MSBuildProjectDirectory)\temp</PluginDir>
        </PropertyGroup>
        <MakeDir Directories="$(TempDir)" />
        <MakeDir Directories="$(SolutionDir)\AAA_Releases" />
        <Exec Command="xcopy /V &quot;$(OutputPath)&quot; &quot;$(TempDir)&quot; /E /I /Y" />
        <Exec Command="del &quot;$(TempDir)\*.zip&quot; &quot;$(TempDir)\*.json&quot; &quot;$(TempDir)\*.pdb&quot;" />
        <Exec Command="del &quot;$(TempDir)\AsmResolver*.dll&quot; &quot;$(TempDir)\BepInEx.AssemblyPublicizer*.dll&quot;" IgnoreExitCode="true" />
        <ZipDirectory Condition="'$(Configuration)'=='Release'" Overwrite="true"
                SourceDirectory="temp"
                DestinationFile="$(SolutionDir)\AAA_Releases\$(MSBuildProjectName)_v$(Version)_BepInEx.zip" />
        <RemoveDir Directories="$(MSBuildProjectDirectory)\temp" />
    </Target>
</Project>
